.calendarevents_calendar_title {
	color: #666;
	font-weight: bold;
}
.calendarevents_addevent{
	padding: 5px;
	border: thin solid #666;
	text-decoration: none;
}
.calendarevents_addevent:hover{
	background: #bbb;
}
.calendarevents_event {
	padding: 5px;
	margin: 5px;
	border: thin solid #666;
	float: right;
}

