.calendarevents_list_title {
	color: #666;
	font-weight: bold;
}
.calendarevents_add_calendar{
	padding: 5px;
	border: thin solid #666;
	text-decoration: none;
}
.calendarevents_add_calendar:hover{
	background: #bbb;
}
.calendarevents_calendars_list_element {
	padding: 5px;
	margin: 5px;
	border: thin solid #666;
	float: right;
}

