<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>${event.name}</title>
</head>
<body>
    <table>
        <tr>
            <td><b></b>${event.name}</b></td>
            <td>Weather: ${event.weather}</td>
        </tr>
        <tr>
            <td>${event.datetime}</td>
        </tr>
        <tr>
            <td>${event.summary}</td>
        </tr>
        <tr>
            <td>${event.linked_entity_url}</td>
        </tr>
    </table>
</body>
</html>